.wrapper {
  position: relative;
  display: inline-block;
  width: wrap-content;
  height: wrap-content;
}

.image {
  display: block;
}

	.hoverText {
	visibility: hidden;
	opacity: 0;
	background-color: transparent;
	color: var(--neutral-strong);
	text-align: center;
	border-radius: 5px;
	padding: 6px 14px;
	position: absolute;
	left: 50%;
	bottom: 100%;
	transform: translateX(-50%);
	white-space: nowrap;
	z-index: 2;
	transition: opacity 0.2s, visibility 0.2s;
	pointer-events: none;
	}

.wrapper:hover .hoverText,
.wrapper:focus-within .hoverText {
  visibility: visible;
  opacity: 1;
}